/* Main wrapper for the middle school math courses */
.middlemath-course-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding-top: 8rem;

}

/* Title styling */
.middlemath-course-title {
  padding: 1rem;
}

/* Search bar styling */
.middlemath-search-bar {
  width: 80%;
  margin-bottom: 20px;
}

/* H1 title */
.middlemath-course-wrapper h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #333;
}

/* Container for courses */
.middlemath-course-container {
  width: 80%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

/* Section for each grade */
.middlemath-grade-section {
  margin-bottom: 2rem;
  width: 100%;
}

/* Title for each grade */
.middlemath-grade-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: left;
  padding-left: 1rem;
  color: #333;
}

/* Grid layout for courses in each grade */
.middlemath-grade-courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  justify-items: center;
}

/* Media queries for responsiveness */
@media (max-width: 1024px) {
  .middlemath-grade-courses {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .middlemath-course-wrapper {
    padding-top: 5rem;
  }

  .middlemath-course-wrapper h1 {
    font-size: 2rem;
    margin-top: 2rem;
    
  }

  .middlemath-search-bar {
    width: 100%;
  }

  .middlemath-course-container {
    width: 100%;
  }

  .middlemath-grade-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .middlemath-grade-courses {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .middlemath-course-wrapper {
    padding-top: 4rem;
  }

  .middlemath-course-wrapper h1 {
    margin-top: 2rem;
    font-size: 2rem;
  }

  .middlemath-search-bar {
    width: 100%;
  }

  .middlemath-course-container {
    width: 100%;
  }

  .middlemath-grade-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .middlemath-grade-courses {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .middlemath-course-wrapper {
    padding-top: 3rem;
  }

  .middlemath-course-wrapper h1 {
    margin-top: 2rem;
    font-size: 2rem;
  }

  .middlemath-search-bar {
    width: 100%;
  }

  .middlemath-course-container {
    width: 100%;
  }

  .middlemath-grade-title {
    font-size: 1.5rem;
  }
}
