.courses-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 100vh;

  
  }
  
  .courses-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    gap: 20px; /* Add space between items */
    padding: 20px; /* Add padding around the container */
    justify-content: center; /* Center items horizontally */
    
  }
  
  .course-card {
    max-width: 345px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer; /* Add cursor pointer for clickable cards */
  }
  
  .course-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
  }
  
  .course-image {
    border-radius: 12px 12px 0 0;
  }
  
  .course-title {
    font-weight: bold;
    color: #333;
  }
  
  .course-description {
    color: #666;
  }