.course-wrapper {

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  
}

.course-title {
  padding: 1rem;
}

.search-bar {
  width: 80%;
  margin-bottom: 20px;
}

.course-wrapper h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #333;
}

.course-container {
  width: 80%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
 
}

.grade-section {
  margin-bottom: 2rem;
  width: 100%;
}

.grade-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: left;
  padding-left: 1rem;
  color: #333;
}

.grade-courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create responsive columns */;
  padding: 10px; /* Optional: Add some padding for better appearance */
  justify-items: center; /* Center items within their grid cells */
  
}



/* Media queries for responsiveness */
@media (max-width: 1024px) {
  .grade-courses {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust columns for smaller screens */
  }
  .course-wrapper {
    padding-top: 5rem; /* Adjust this value as needed to prevent overlap with the navbar */
  }
  .course-wrapper h1 {
    font-size: 2rem;
    margin-top: 2rem;
  }
  .search-bar {
    width: 100%;
  }
  .course-container {
    width: 100%;
  }
  .grade-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .grade-courses {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust columns for smaller screens */
  }
  .course-wrapper {
    padding-top: 4rem; /* Adjust this value as needed to prevent overlap with the navbar */
  }
  .course-wrapper h1 {
    font-size: 1.75rem;
  }
  .search-bar {
    width: 100%;
  }
  .course-container {
    width: 100%;
  }
  .grade-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .grade-courses {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust columns for smaller screens */
  }
  .course-wrapper {
    padding-top: 3rem; /* Adjust this value as needed to prevent overlap with the navbar */
  }
  .course-wrapper h1 {
    font-size: 1.5rem;
  }
  .search-bar {
    width: 100%;
  }
  .course-container {
    width: 100%;
  }
  .grade-title {
    font-size: 1.5rem;
  }
}