/* Main wrapper for the courses */
.allcourses-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh;
}

.allcourses-bg {
  background-image: url('/courseBg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Title styling */
.allcourses-title {
  padding: 1rem;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #333;
}

/* Container for the courses */
.allcourses-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  width: 100%;
}

/* Individual course cards */
.allcourses-card {
  max-width: 345px;
  margin: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden; /* Ensure the content respects the border radius */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border: 5px solid #ff3995;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  gap: 1rem;
  height: auto; /* Adjust height for flexibility */
}

.allcourses-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgb(74, 0, 88,0.7);
  border: 5px solid rgb(74, 0, 88, 0.7);
}

/* Course card media (image) */
.allcourses-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0; /* Ensure image corners are rounded */
}

/* Course card title */
.allcourses-card-title {
  font-weight: bold;
  color: #333;
}

/* Course description */
.allcourses-description {
  color: #666;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .allcourses-wrapper {
    height: auto; /* Allow auto height for smaller screens */
  }

  .allcourses-title {
    margin-top: 2rem;
    font-size: 2rem;
  }

  .allcourses-container {
    gap: 15px;
  }

  .allcourses-card {
    max-width: 300px;
    height: auto; /* Auto height to handle content overflow */
  }
}

@media (max-width: 768px) {
  .allcourses-wrapper {
    padding-top: 4rem;
    height: auto; /* Ensure auto height for mobile devices */
  }

  .allcourses-title {
    margin-top: 2rem;
    font-size: 2rem;
  }

  .allcourses-card {
    max-width: 100%;
    height: auto; /* Full width for mobile and auto height */
  }

  .allcourses-container {
    width: 100%;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .allcourses-wrapper {
    padding-top: 3rem;
    height: auto; /* Set height to auto for smaller screens */
  }

  .allcourses-title {
    margin-top: 2rem;
    font-size: 2rem;
  }

  .allcourses-card {
    max-width: 100%; /* Full width for mobile view */
    height: auto; /* Auto height for content flexibility */
  }

  .allcourses-container {
    width: 100%;
    gap: 8px;
  }
}
