/* General styles */
.course-wrapper {
  padding-top: 6rem; /* Adjust this value as needed to prevent overlap with the navbar */
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.course-title {
  padding: 1rem;
}

.search-bar {
  width: 86%;
  margin-bottom: 20px;
}

.course-wrapper h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #333;
}

/* Container for the cards */
.course-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  display: flex;
  flex: wrap;
  justify-content: space-evenly;
  width: 80%;
  margin-bottom: 3rem;
}

/* Wrapper for the cards */
.card-wrapper {
  display: contents; /* Use display: contents to allow the grid layout to apply to the cards directly */
}

/* Card styles */
.MuiCard-root {
  max-width: 345px;
  margin: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); /* Smoother transition */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.MuiCard-root:hover {
  transform: translateY(-5px);
}

.MuiCardContent-root {
  flex-grow: 1;
}

.MuiCardActions-root {
  justify-content: center;
}

/* Media queries for responsiveness */
@media (max-width: 1024px) {
  .course-container {
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
  }

  .course-wrapper {
    padding-top: 5rem; /* Adjust this value as needed to prevent overlap with the navbar */
  }

  .course-wrapper h1 {
    font-size: 2rem;
  }

  .card-wrapper {
    gap: 1.5rem;
  }

  .MuiCard-root {
    max-width: 300px;
  }

  .search-bar {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .course-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
  }

  .course-wrapper {
    padding-top: 4rem; /* Adjust this value as needed to prevent overlap with the navbar */
  }

  .course-wrapper h1 {
    font-size: 1.75rem;
  }

  .card-wrapper {
    gap: 1.5rem;
  }

  .MuiCard-root {
    max-width: 280px;
  }

  .search-bar {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .course-container {
    grid-template-columns: 1fr; /* 1 column */
  }

  .course-wrapper {
    padding-top: 3rem; /* Adjust this value as needed to prevent overlap with the navbar */
  }

  .course-wrapper h1 {
    font-size: 1.5rem;
  }

  .card-wrapper {
    gap: 1rem;
  }

  .MuiCard-root {
    max-width: 100%;
    margin: 0.5rem;
  }

  .search-bar {
    width: 100%;
  }
}